@charset "UTF-8";
/* Tipografia base para todas as telas e para mobile */

/* Importação da fonte Roboto do Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Variáveis para tipografia */
:root {
  /* Família da fonte */
  --fonte-titulo: "Roboto", Arial, Helvetica, sans-serif;
  --fonte-corpo: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  /* Cor das letras */
  --letra-branca: var(--branco); /* para dark mode */
  --letra-preta: var(--preto); /* para light mode */
  /* Cor das letras em uso */
  --letra-uso: var(--letra-preta); /* padrão (light mode) */
  --letra-oposta: var(--letra-branca);
}

/* Tipografia padrão */
body {
  font-family: var(--fonte-corpo);
  font-size: 1rem;
  color: var(--letra-uso);
}

/* Títulos */
h1,
h2,
h3,
h4 {
  /* Fonte de títulos */
  font-family: var(--fonte-titulo);
}
h1,
h2 {
  /* Geral */
  text-align: center;
}

/* Títulos com ícones SVG */
.titulo-icone {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Títulos H1 */
h1 {
  /* Geral */
  font-weight: 600;
  color: var(--cor-primaria-tema);
  /* Mobile */
  font-size: 3.5rem; /* 56px */
}
/* Título H2 */
h2 {
  /* Geral */
  font-weight: 500;
  /* Mobile */
  font-size: 3rem; /* 48px */
}
/* Título H3 */
h3 {
  /* Geral */
  font-weight: 500;
  /* Mobile */
  font-size: 1.5rem; /* 24px */

  /* Com ícone */
  &.titulo-icone svg {
    height: 32px;
    width: 32px;
  }
}
/* Título H4 */
h4 {
  /* Geral */
  font-weight: 500;
  /* Mobile */
  font-size: 1.125rem; /* 18px */
}

/* Parágrafos e texto */
p,
li {
  /* Mobile */
  font-size: 1rem; /* 16px */

  /* Espaçamento */
  &.mg-bt-meio {
    margin-bottom: 0.5rem;
  }
}

/* Links */
a {
  /* Links sem cor de destaque */
  &.no-recolor {
    color: inherit;
  }
}

/* Cor de texto selecionado */
::selection {
  background-color: var(--cor-primaria);
  color: var(--letra-branca);
}
