@charset "UTF-8";
/* Navbar mobile */
/* vw menor que 1344px */

nav#nav-principal {
  /* Posição: fixa na lateral direita */
  position: fixed;
  top: 0;
  right: 0;

  /* Dimensões */
  height: 100vh;
  width: 64vw;

  /* Aparência */
  background-color: var(--background-transparente);
  backdrop-filter: blur(var(--blur-padrao));
  box-shadow: var(--shadow02);

  /* Flexbox */
  display: flex;
  flex-direction: column;

  /* Espaçamento */
  padding-block: 20px;

  /* Ocultar navbar no mobile */
  /* transform: translateX(100%); */

  /* Lista de links */
  & > ul {
    /* Flexbox */
    flex-direction: column;
    gap: 12px;

    /* Blocos de links */
    & > li > a {
      /* Dimensões (área de toque) */
      width: inherit;
      height: 55px;

      /* Flexbox */
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  }
}
