@charset "UTF-8";
/* Navbar mobile */
/* vw menor que 1344px */

nav#nav-principal {
  /* Posição: fixa na lateral direita */
  position: fixed;
  top: 0;
  right: 0;

  /* Dimensões */
  height: 100vh;
  width: 64vw;

  /* Aparência */
  background-color: var(--background-transparente);
  backdrop-filter: blur(var(--blur-padrao));
  box-shadow: var(--shadow02);

  /* Espaçamento */
  padding-block: 20px;
  /* padding-right: var(--padding-lateral-container); */

  /* Ocultar navbar no mobile */
  /* transform: translateX(100%); */
}
