@charset "UTF-8";
/* Layouts principais */

/* Layout de colunas */
.colunas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;

  /* Espaçamento */
  margin-bottom: 24px;

  /* Textos sem alinhamento justificado */
  .no-justify {
    text-align: center;
  }

  /* Mobile (empilhado) */
  flex-direction: column;
  & .coluna-esquerda,
  & .coluna-direita {
    width: 100%;
  }
}
/* Dividir em 2 colunas */
@media screen and (min-width: 768px) {
  .colunas {
    flex-direction: row;

    /* Textos sem alinhamento justificado */
    .no-justify {
      text-align: start;
    }

    /* Coluna esquerda */
    & .coluna-esquerda {
      /* Tamanho */
      width: 60%;
      margin-bottom: auto;
      /* Alinhamento títulos */
      & h1,
      & h2,
      & h3 {
        text-align: start;
      }
    }
    & .coluna-direita {
      /* Tamanho */
      width: 40%;
    }
  }
}
@media screen and (min-width: 1024px) {
  .colunas {
    & .coluna-esquerda {
      width: 75%;
    }
    & .coluna-direita {
      width: 30%;
    }
  }
}

/* Colunas com ícones */
.colunas-icone {
  /* layout mobile */
  flex-direction: column-reverse;
  align-items: center;
  gap: 0;

  /* Tamanhos das colunas */
  & .coluna-esquerda,
  &.coluna-direita {
    width: 100%;
  }

  /* Tamanho do ícone */
  & .coluna-direita {
    display: flex;
    align-items: center;
    justify-content: center;

    /* Ícone */
    & svg,
    img {
      width: 80px;
      height: 80px;

      /* Transição ao aumentar o tamanho */
      transition-property: width, height;
      transition-duration: 1s;
    }
    /* Remover estilos de imagens */
    & img {
      box-shadow: none;
    }
  }
}

@media screen and (min-width: 768px) {
  & .colunas-icone {
    flex-direction: row;
    gap: 16px;

    /* Coluna com texto */
    & .coluna-esquerda {
      width: 100%;
    }

    /* Coluna com ícone */
    & .coluna-direita {
      width: fit-content;
    }
  }
  @media screen and (min-width: 824px) {
    /* Aumentar tamanho do ícone */
    .colunas-icone .coluna-direita svg,
    .colunas-icone .coluna-direita img {
      width: 240px;
      height: 240px;
    }
  }
}
