@charset "UTF-8";
/* Container do site */

:root {
  /* Container mobile */
  --container: 91vw;

  /* Container para artigos */
  --container-artigo: 1024px;

  /* Calcular padding lateral para container */
  --padding-lateral-container: calc((100vw - var(--container)) / 2);
}

/* Classe que adiciona padding lateral para limitar um container */
.pd-container {
  padding-inline: var(--padding-lateral-container) !important;

  transition: padding 0.5s ease;
}

/* Container desktop */
@media screen and (min-width) {
  :root {
    --container: 1240px;
  }
}

/* Containers para artigos */
.pd-container-artigo {
  padding-inline: calc((100vw - var(--container-artigo)) / 2);
}
.container-artigo {
  max-width: var(--container-artigo);
  margin: auto;
}
