@charset "UTF-8";
/* Background */

/* Variáveis de background */
:root {
  /* Background claro */
  --background-claro: var(--branco01);
  --background-claro-transparente: var(--branco01-transparente1);

  /* Background escuro */
  --background-escuro-abs: var(--preto);
  --background-escuro: var(--preto01);
  --background-escuro-transparente: var(--preto01-transparente1);

  /* Background em uso (alterado entre light e dark mode) */
  --background: var(--background-claro);
  --background-contraste: var(--background-escuro);
  --background-transparente: var(--background-claro-transparente);

  /* Background com destaque sutil */
  --background-destaque-sutil-claro: var(--roxo-claro);
  --background-destaque-sutil-escuro: var(--cinza-escuro01);
  --background-destaque-sutil: var(--background-destaque-sutil-claro);
  --background-destaque-sutil-contraste: var(--background-destaque-sutil-escuro);

  /* Background cinza */
  --background-cinza: var(--cinza-claro);
}

/* Background padrão da página */
body {
  background-color: var(--background);
}

/* Classes */
/* Background opaco */
.bg-primario {
  background-color: var(--background);
}

/* Background transparente */
.bg-transparente {
  background-color: var(--background-transparente);
}
