@charset "UTF-8";
/* Botões para tablet: vw menor que 1024px */

button,
.botao {
  /* Tipografia */
  font-size: 1rem; /* 16px */

  /* Espaçamento */
  padding-inline: 12px; /* padding left e right */
  gap: 8px;

  /* Ícone */
  & .icone {
    width: 25px;
    height: 25px;
  }
}
