@charset "UTF-8";
/* Componente botão: base para todas as telas */

/* Base de objetos button */
button {
  /* Mouse */
  cursor: pointer;

  /* Remover formatação padrão */
  border: none;
  background: none;
}

/* Estilo geral para botões */
button,
.botao {
  /* Cantos arredondados */
  border-radius: var(--corner-extra-small);

  /* Sombras */
  box-shadow: var(--shadow01);

  /* Espaçamento */
  padding-block: 6px; /* padding top e bottom */

  /* Flexbox */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  /* Não quebrar texto por padrão */
  text-wrap: nowrap;

  /* Transição */
  transition-property: background-color, border-color, color, font-size, padding;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

/* Botões sem sombra, background ou contorno */
button.flat-button {
  box-shadow: none;
  padding: 5px;
  color: var(--letra-uso);
  /* Ícone interno */
  & > svg {
    min-width: 35px;
  }
  /* Efeito hover */
  &:hover {
    background-color: var(--background-contraste);
    color: var(--letra-oposta);
    box-shadow: var(--shadow01);
  }
}

/* Botão primário */
.botao-primario {
  /* Aparência */
  background-color: var(--cor-primaria);
  border: solid 2px var(--cor-primaria);

  /* Tipografia */
  color: var(--letra-branca);

  /* Efeito hover */
  &:hover {
    background-color: var(--roxo-medio);
    border-color: var(--roxo-medio);
  }
}

/* Botão secundário */
.botao-secundario {
  /* Aparência */
  border: solid 2px var(--cor-secundaria);

  /* Tipografia */
  color: var(--cor-secundaria);

  /* Efeito hover */
  &:hover {
    background-color: var(--branco02-transparente1);
    border-color: var(--laranja-medio);
    color: var(--laranja-medio);
  }
}
