@charset "UTF-8";
/* Botões para desktop: vw maior que 1025px */

button,
.botao {
  /* Tipografia */
  font-size: 1.375rem; /* 22px */

  /* Espaçamento */
  padding-inline: 14px; /* padding left e right */
  gap: 10px;
  /* Dimensões */
  width: fit-content;

  /* Ícone */
  & .icone,
  & svg,
  & img {
    width: 30px;
    height: 30px;
  }
}
