@charset "UTF-8";
/* Footer contato */
#contato-footer {
  /* Flexbox */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;

  /* Tipografia */
  text-align: start;

  /* Filhos (colunas) */
  & > * {
  }

  /* Coluna esquerda */
  & > .coluna-esquerda {
    width: 100%;
  }

  /* Coluna direita */
  & > .coluna-direita {
    min-width: fit-content;

    /* Título "Endereço" */
    & h3.titulo-icone {
      justify-content: start;
    }
    /* Endereço */
    & address {
      margin-left: 5px;
      margin-right: 2.5rem;
    }
  }
}

/* Lista de telefones */
#lista-telefones-footer {
  /* Flexbox */
  justify-content: start;
  gap: 12px;
  /* Espaçamento */
  margin-top: 22px;

  /* Número de telefone */
  & li {
    padding-block: 8px;
  }
}
