@charset "UTF-8";
/* Cards de links (geral e mobile) */

ul.conjunto-cards01 {
  list-style-type: none;

  /* Grid */
  display: grid;
  grid-template-rows: 1fr;
  row-gap: 24px;

  /* Blocos de links internos */
  & > li > a {
    /* Aparência */
    background-color: var(--background-cinza);
    border-radius: var(--corner-medium);
    box-shadow: var(--shadow01);
    /* Flexbox */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Espaçamento */
    padding: 16px 8px;
    gap: 8px;

    /* Tipografia */
    color: var(--cor-secundaria);
    text-decoration: none;

    /* Ícone */
    & svg,
    & img {
      height: 48px;
      width: 48px;
    }

    /* Efeito hover */
    transition: background 0.5s ease-in-out;
    &:hover {
      background-color: var(--background-cinza-contraste);
    }
  }
}
